{% extends 'adminlte/login.html' %}
{% load bootstrap4 %}
{% block logo %}
<div class="login-logo">
    <p>{% block logo_text%} <strong>E</strong> diaristas {% endblock logo_text %} </p>
</div>

{% endblock logo %}
{% block login_form %}
<div class="card card-primary">
    <div class="card-header">
        <div class="card-title">
            resetar Senha
        </div>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <!-- {{form_usuario.as_p}} -->
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-primary" value="enviar">
        </form>
    </div>
</div>
{% endblock login_form %}