{% extends 'base.html' %}
{% load bootstrap4%}

{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <div class="card-title">
            {% if request.resolver_match.url_name == 'cadastrar_usuario' %}
            Cadastro de usuario
            {% else %}
            Edição de Usuários
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <!-- {{form_usuario.as_p}} -->
            {% bootstrap_form form_usuario %}
            <input type="submit" class="btn btn-primary" value="Salvar">
        </form>
    </div>
</div>
{% endblock content %}